<div class="container pt-4">
  <h1>Customer Info -> {{prospectName}}</h1>
  <div class="mt-5">
    <div class=" row">
      <h3 class="col ">Prospect Name </h3>:
      <p class="col">{{ prospectName }}</p>
    </div>
    <div class=" row">
      <h3 class="col ">Demographic </h3>:
      <p class="col">{{ demographic }}</p>
    </div>
    <div class=" row">
      <h3 class="col ">Source </h3>:
      <p class="col">{{ source }}</p>
    </div>
    <div class=" row">
      <h3 class="col ">Added By </h3>:
      <p class="col">{{ addedBy }}</p>
    </div>

    <div class=" row">
      <h3 class="col ">Date Added </h3>:
      <p class="col">{{ dateAdded }}</p>
    </div>
    <div class=" row">
      <h3 class="col ">Set Type </h3>:
      <p class="col">{{ setType }}</p>
    </div>
    <div class=" row">
      <h3 class="col ">How Many </h3>:
      <p class="col">{{ howMany }}</p>
    </div>
  </div>
  <button class="btn float-right" (click)="goBack()">Back</button>
</div>
