<div class="container pt-4">
  <h4>Customer Info -> {{prospectName}}</h4>
  <div class="mt-5">
    <div class=" row">
      <h6 class="col ">Prospect Name </h6>:
      <p class="col">{{ prospectName }}</p>
    </div>
    <div class=" row">
      <h6 class="col ">Demographic </h6>:
      <p class="col">{{ demographic }}</p>
    </div>
    <div class=" row">
      <h6 class="col ">Source </h6>:
      <p class="col">{{ source }}</p>
    </div>
    <div class=" row">
      <h6 class="col ">Added By </h6>:
      <p class="col">{{ addedBy }}</p>
    </div>

    <div class=" row">
      <h6 class="col ">Date Added </h6>:
      <p class="col">{{ dateAdded }}</p>
    </div>
    <div class=" row">
      <h6 class="col ">Set Type </h6>:
      <p class="col">{{ setType }}</p>
    </div>
    <div class=" row">
      <h6 class="col ">How Many </h6>:
      <p class="col">{{ howMany }}</p>
    </div>
  </div>
  <button class="btn float-right" (click)="goBack()">Back</button>
</div>
