<ul class="nav nav-tabs justify-content-end pr-5">
  <li class="nav-item ">
    <a class="nav-link tab-color" data-toggle="tab" routerLink="/trigger-event"
      >Trigger Event</a
    >
  </li>
  <li class="nav-item ">
    <a class="nav-link tab-color" data-toggle="tab" routerLink="/email-template"
      >Email Template</a
    >
  </li>
  <li class="nav-item ">
    <a class="nav-link tab-color active" data-toggle="tab" routerLink="/prospect-set"
      >Prospect Set</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link tab-color" data-toggle="tab" routerLink="/campaign">Campaign</a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link material-icons "
      data-toggle="tab"
      routerLink="/user"
      >portrait</a
    >
  </li>
</ul>
