<div class="container  pt-4 font-weight-bold">
  <h1>Prospect set</h1>
  <div class="navbar border-bottom p-0">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/prospect-set/customer"
          >Customer</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prospect-set/prospect-customer"
          >Prospect Customer</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prospect-set/employee">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/prospect-set/test-set">Test Set</a>
      </li>
    </ul>

    <form class="form-inline">
      <div class="form-inline">
        <span class="material-icons">search</span>
        <input
          class="form-control  "
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>

      <button class="btn bg-dark material-icons text-light" type="submit">
        tune
      </button>
    </form>
  </div>
</div>
