.nav {
  margin: 20px 0;
}

.nav-item {
  padding: 0 10px;
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item a {
  color: #434f45;
  font-weight: 400;
  padding: 0 0 10px 0;
}

.nav-item .nav-link.active {
  border: none;
}

.nav-item a.active {
  border-bottom: 2px solid #6d3888;
}

.form-inline {
  border: 1px solid #ced4da;
}

.form-inline span {
  padding: 5px;
}

.form-inline .form-control {
  border: 0;
  outline: none;
}

.form-inline input,
button {
  border-radius: 0;
  outline: none;
}

